html {
  background: #53a5b5;
}

body {
  margin: 50px;
  padding: 80px;
  background-color: #5b65ab;
  color: white;
  border: 1px dashed lightpink;
  font-size: 2em;
  text-align: center;
}

li {
  text-align: left;
  font-size: 15px;
}
